<!-- section-news -->
<section class="section-news">
  <div class="container">
    <div class="news_inner">
      <div class="news_discount l_side">
        <div class="reklama_card_item">
          <div class="bg-text">Скидки</div>
          <div class="news_img">
            <img src="{{ 'Cl-kurtka.png' | asset_url }}" alt="" />
          </div>
          <div class="text">
            <div class="card_label">
              Скидки на <br />
              одежду до 20%
            </div>
            <div class="card_subinfo">Успей пока в наличии</div>
          </div>
        </div>
      </div>

      <div class="news_fresh_clothes c_side">
        <div class="cloth_item male reklama_card_item">
          <div class="bg-text">Новинки</div>
          <div class="text">
            <div class="hot_label">НОТ🔥</div>
            <div class="card_label">Мужские новинки 2023</div>
            <div class="card_subinfo">Успей пока в наличии</div>
            <a href="#" class="card_link mb">Перейти</a>
          </div>
          <div class="img">
            <img src="{{ 'CL-person.png' | asset_url }}" alt="" />
          </div>
        </div>
        <div class="aksesuari_item reklama_card_item mb">
          <div class="bg-text">Тренд</div>

          <div class="text">
            <div class="card_label">Трендовые очки</div>
            <div class="card_subinfo">Успей пока в наличии</div>
            <a href="#" class="card_link mb">Перейти</a>
          </div>
          <div class="img">
            <img src="{{ 'Cl-glasses.png' | asset_url }}" alt="" />
          </div>
        </div>

        <div class="aksesuari_item reklama_card_item mb">
          <div class="bg-text">Тренд</div>
          <div class="img shoes">
            <img src="{{ 'CL-shoes.png' | asset_url }}" alt="" />
          </div>
          <div class="text">
            <div class="card_label">Распродажа обуви</div>
            <div class="card_subinfo">Скоро закончиться</div>
            <a href="#" class="card_link mb">Перейти</a>
          </div>
        </div>
        <div class="cloth_item male reklama_card_item">
          <div class="bg-text">Обновления</div>
          <div class="text">
            <div class="card_label">
              Обновление <br />
              женской одежды
            </div>
            <div class="card_subinfo">
              Новые трендовые образы на это лето
            </div>
            <a href="#" class="card_link mb">Перейти</a>
          </div>
          <div class="img">
            <img src="{{ 'CL-person-w.png' | asset_url }}" alt="" />
          </div>
        </div>
      </div>

      <div class="news_aksesuari r_side ds">
        <div class="aksesuari_item reklama_card_item ds">
          <div class="bg-text">Тренд</div>
          <div class="img">
            <img src="{{ 'Cl-glasses.png' | asset_url }}" alt="" />
          </div>
          <div class="text">
            <div class="card_label">Трендовые очки</div>
            <div class="card_subinfo">Успей пока в наличии</div>
            <a href="#" class="card_link mb">Перейти</a>
          </div>
        </div>
        <div class="aksesuari_item reklama_card_item ds">
          <div class="bg-text">Тренд</div>
          <div class="img shoes_desktop">
            <img src="{{ 'CL-shoes.png' | asset_url }}" alt="" />
          </div>
          <div class="text shoes_text_desktop">
            <div class="card_label">Распродажа обуви</div>
            <div class="card_subinfo">Скоро закончиться</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>