<div class="filter_block">
  <div class="filter_header">
    <div class="filter_title">Фильтр поиска товара</div>
    <div class="filter_close">
      <a href="#" class="close_btn"
        ><img src="{{ 'ICO-close-btn.svg' | asset_url }}" alt=""
      /></a>
    </div>
  </div>
  <form class="filter_body">
    <div class="filter_item">
      <a href="#" class="filter_item_btn accordion_link"
        >По популярности <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
      /></a>
      <div class="filter_item_content accordion_content">
        <div class="flex_wrapper">
          <div class="item">
            <input type="checkbox" name="" id="" /> По популярности
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" /> По скидкам
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />По возрастанию цены
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />По Убыванию цены
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" /> По новинкам
          </div>
        </div>
      </div>
    </div>

    <div class="filter_item">
      <a href="#" class="filter_item_btn accordion_link">
        Цвет <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
      /></a>
      <div class="filter_item_content accordion_content">
        <div class="flex_wrapper">
          <div class="item">
            <a href="#"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none">
                <rect width="16" height="16" fill="#111111" />
              </svg>
              Черный</a
            >
          </div>
          <div class="item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <rect
                x="0.5"
                y="0.5"
                width="15"
                height="15"
                fill="white"
                stroke="#111111" />
            </svg>
            Белый
          </div>
          <div class="item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <rect width="16" height="16" fill="#DD3636" />
            </svg>
            Красный
          </div>
          <div class="item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <rect width="16" height="16" fill="#9747FF" />
            </svg>
            Пурпурный
          </div>
          <div class="item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <rect width="16" height="16" fill="#A6D71A" />
            </svg>
            Зелёный
          </div>
          <div class="item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <rect width="16" height="16" fill="#636641" />
            </svg>
            Хаки
          </div>
          <div class="item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <rect width="16" height="16" fill="#F4C05A" />
            </svg>
            Желтый
          </div>
          <div class="item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <rect width="16" height="16" fill="#36EDE2" />
            </svg>
            Бирюзовый
          </div>
          <div class="item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <rect width="16" height="16" fill="#9E510B" />
            </svg>
            Коричневый
          </div>
          <div class="item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <rect width="16" height="16" fill="#DA11DE" /></svg   >Розовый
          </div>
          <div class="item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <rect width="16" height="16" fill="#707070" />
            </svg>
            Серый
          </div>
          <div class="item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <rect width="16" height="16" fill="#0400C2" />
            </svg>
            Синий
          </div>
        </div>
        <a href="#" class="show_moree"> Показать ещё </a>
      </div>
    </div>
    <div class="filter_item">
      <a href="#" class="filter_item_btn accordion_link"
        >Материалы <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
      /></a>
      <div class="filter_item_content accordion_content">
        <div class="searching_material">  <input
          type="text"
          placeholder="Найти “Синтетику””"
          name="search"
          class="ordinary_input" />
        <button class="button_black">Искать</button></div>
        <div class="flex_wrapper">
          <div class="item">
            <input type="checkbox" name="" id="" /> Хлопок
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Кожа
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Шелк
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Лён
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" /> Шерсть
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" /> Синтетика
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Целюлоза
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Целюлоза
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Хлопок
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" /> Хлопок
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" /> Синтетика
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Целюлоза
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Шелк
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Шелк
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" /> Шерсть
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Шелк
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" /> Шерсть
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Целюлоза
          </div>
          <div class="item">
            <input type="checkbox" name="" id="" />Целюлоза
          </div>
        </div>
      </div>
    </div>
    <div class="filter_item">
      <a href="#" class="filter_item_btn accordion_link"
        >Размер <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
      /></a>
      <div class="filter_item_content accordion_content">asdasddsa</div>
    </div>
    <div class="filter_item">
      <a href="#" class="filter_item_btn accordion_link"
        >Бренд <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
      /></a>
      <div class="filter_item_content accordion_content">asdasddsa</div>
    </div>
    <div class="filter_item">
      <a href="#" class="filter_item_btn accordion_link"
        >Цена <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
      /></a>
      <div class="filter_item_content accordion_content">
        <div class="slider-range">
          <div class="progress"></div>
        </div>
        <div class="range-input">
          <input
            type="range"
            class="range-min"
            min="0"
            max="10000"
            value="2500"
            step="100" />
          <input
            type="range"
            class="range-max"
            min="0"
            max="10000"
            value="7500"
            step="100" />
        </div>
        <div class="price-input">
          <div class="field">
            <input type="number" class="input-min" value="2500" />
          </div>
          <div class="separator"></div>
          <div class="field">
            <input type="number" class="input-max" value="7500" />
          </div>
        </div>
      </div>
    </div>
    <div class="filter_item">
      <a href="#" class="filter_item_btn accordion_link"
        >Детали <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
      /></a>
      <div class="filter_item_content accordion_content">asdasddsa</div>
    </div>
    <div class="filter_item">
      <a href="#" class="filter_item_btn accordion_link"
        >Помогаю планете <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
      /></a>
      <div class="filter_item_content accordion_content">asdasddsa</div>
    </div>
    <div class="filter_item">
      <a href="#" class="filter_item_btn accordion_link"
        >Сезон <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
      /></a>
      <div class="filter_item_content accordion_content">asdasddsa</div>
    </div>
  </form>
  <div class="filter_bottom">
    <a href="#" class="button_black">Показать результат</a>
    <a href="#" class="clear_filter"><span>Очистить фильтры</span></a>
  </div>
</div>
