<footer class="footer">
  <div class="footer_content">
    <div class="container">
      <div class="content_inner">

        <div class="content_list_item">
          <!-- <div class="list_item_title">{{linklists.footer-menu.title}}</div> -->
          {% for link in linklists.footer-menu.links %}
            <!-- <div class="list_item">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div> -->
          {% endfor %}
            <div class="list_item">
              <a target="_blank" href="https://static.insales-cdn.com/files/1/3328/33565952/original/offer.pdf">Оферта</a>
            </div>
            <div class="list_item">
              <a target="_blank" href="https://static.insales-cdn.com/files/1/3325/33565949/original/policy.pdf">Политика обработки персональных данных</a>
            </div>
            <div class="list_item">
              <a target="_blank" href="https://static.insales-cdn.com/files/1/3327/33565951/original/terms_of_use.pdf">Соглашение для покупателей</a>
            </div>
            <div class="list_item">
              <a target="_blank" href="https://static.insales-cdn.com/files/1/3326/33565950/original/terms_for_sellers.pdf">Соглашение для продавцов</a>
            </div>
        </div>

        <!-- <div class="content_list_item">
          <div class="list_item_title">{{linklists.footer-menu-1.title}}</div>
          {% for link in linklists.footer-menu-1.links %}
            <div class="list_item">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
          {% endfor %}

        </div>

        <div class="content_list_item">
          <div class="list_item_title">{{linklists.footer-menu-2.title}}</div>
          {% for link in linklists.footer-menu-2.links %}
            <div class="list_item">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
          {% endfor %}
        </div> -->

        <!-- <div class="content_mail">
          <div class="mail_title">Скидка 10% за подписку на новинки</div>
          <form action="#">
            <input
              type="text"
              placeholder="Искать “Женское польто”"
              name="search"
              class="ordinary_input" />
            <button class="button_black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none">
                <path
                  d="M21.6 2H2.4C1.08 2 0 3.125 0 4.5V19.5C0 20.875 1.08 22 2.4 22H21.6C22.92 22 24 20.875 24 19.5V4.5C24 3.125 22.92 2 21.6 2ZM21.12 7.3125L13.272 12.425C12.492 12.9375 11.508 12.9375 10.728 12.425L2.88 7.3125C2.75967 7.24214 2.6543 7.14708 2.57027 7.03307C2.48623 6.91906 2.42527 6.78847 2.39109 6.64921C2.35691 6.50995 2.3502 6.36492 2.37139 6.22288C2.39257 6.08085 2.4412 5.94477 2.51434 5.82288C2.58747 5.70099 2.68359 5.59582 2.79687 5.51374C2.91015 5.43167 3.03825 5.37439 3.17339 5.34537C3.30854 5.31636 3.44794 5.31621 3.58315 5.34494C3.71835 5.37366 3.84656 5.43067 3.96 5.5125L12 10.75L20.04 5.5125C20.1534 5.43067 20.2817 5.37366 20.4169 5.34494C20.5521 5.31621 20.6915 5.31636 20.8266 5.34537C20.9618 5.37439 21.0898 5.43167 21.2031 5.51374C21.3164 5.59582 21.4125 5.70099 21.4857 5.82288C21.5588 5.94477 21.6074 6.08085 21.6286 6.22288C21.6498 6.36492 21.6431 6.50995 21.6089 6.64921C21.5747 6.78847 21.5138 6.91906 21.4297 7.03307C21.3457 7.14708 21.2403 7.24214 21.12 7.3125Z"
                  fill="white"></path>
              </svg>
            </button>
          </form>
          <div class="link aksiya_link">Условия акции</div>
          <div class="mail_info">
            <div class="info_title">Детская обувь</div>
            <div class="info_text">
              Особенность детской обуви заключается не только в дизайне,
              который несомненно более красочный, чем у обуви для
              взрослых. Большое внимание уделяется качеству материалов и
              удобству колодки, которые важны для правильного формирования
              стопы и походки малыша. Многие модели детской обуви имеют
              специальную амортизирующую подошву или стельки-супинаторы,
              обеспечивающие правильное положение стопы во время ходьбы.
              Наличие твердого задника — обязательное условие, позволяющее
              назвать детскую обувь качественной.
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>

  <div class="footer_socials">

    <div class="container">

      <div class="payment_types">
        <div class="payment_type_title">
          Доступны <span>другие способы оплаты</span>
        </div>
        <div class="payment_systems">
          {% for item in block_lists.footer-payment.blocks %}
            <img src="{{ item.image }}" alt="{{ item.title }}" />
          {% endfor %}
        </div>
      </div>

      <div class="socials">
        {% for item in block_lists.social.blocks %}
            <a href="{{ item.url }}" class="social_item">
              <img src="{{ item.image }}" alt="{{ item.title }}" />
            </a>
        {% endfor %}
      </div>

    </div>

  </div>
</footer>
