<footer class="footer">
  <div class="footer_content">
    <div class="container">
      <div class="content_inner">

        <div class="content_list_item">
            <div class="list_item">
              <a target="_blank" href="https://static.insales-cdn.com/files/1/3328/33565952/original/offer.pdf">Оферта</a>
            </div>
            <div class="list_item">
              <a target="_blank" href="https://static.insales-cdn.com/files/1/3325/33565949/original/policy.pdf">Политика обработки персональных данных</a>
            </div>
        </div>

        <div class="content_list_item">
          <div class="header_logo">
            <a href="/"><img src="{{ 'logo-white-gold.svg' | asset_url }}" alt="Логотип" /></a>
          </div>
        </div>

        <div class="content_list_item">
          <div class="list_item">
            <a target="_blank" href="https://static.insales-cdn.com/files/1/3327/33565951/original/terms_of_use.pdf">Соглашение для покупателей</a>
          </div>
          <div class="list_item">
            <a target="_blank" href="https://static.insales-cdn.com/files/1/3326/33565950/original/terms_for_sellers.pdf">Соглашение для продавцов</a>
          </div>
          <div class="list_item">
            <a target="_blank" href="https://limmite.ru/page/delivery">Доставка товаров</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer_socials">

    <div class="container">

      <div class="payment_types">
        <!-- <div class="payment_type_title">
          Доступны <span>другие способы оплаты</span>
        </div> -->
        <div class="payment_systems">
          {% for item in block_lists.footer-payment.blocks %}
            <img src="{{ item.image }}" alt="{{ item.title }}" />
          {% endfor %}
        </div>
      </div>

      <div class="socials">
        {% for item in block_lists.social.blocks %}
            <a href="{{ item.link }}" target="_blank" class="social_item">
              <img src="{{ item.image }}" alt="{{ item.title }}" />
            </a>
        {% endfor %}
      </div>

      <div class="content_list_item">
          <div class="list_item">
            ООО "Траст Сервис"
          </div>
          <div class="list_item">
            ИНН 7203567990
          </div>
        </div>

    </div>

  </div>
</footer>
