<header class="header" id="header" 
	@cart-changed.window="onCartChange" 
  x-data="{
    sidebar: false,
    items: {{ cart.items_count }},
    search: false,

    onCartChange() {
      this.items = this.$event.detail
    },
  }"
>
  <div class="header__navbar">
    <div class="container">
      <div class="header__navbar_actions">
        <div class="mb_header_buttons">
          <div class="mb burger_btn_toggler">
            <button type="button" class="btn" @click="sidebar = true;overflow = false">
              <img src="{{ 'ICO-burger.svg' | asset_url }}" alt="Кнопка меню"/>
            </button>
          </div>
          <div class="mb">
            <button @click="search = !search"><img src="{{ 'ICO-search.svg' | asset_url }}" alt="Поиск" /></button>
          </div>
        </div>

        <div class="header_search_bar" :class="search && 'active'">
          <form action="/search">
            <input
              type="text"
              placeholder="Поиск товаров"
              name="q"
              class="ordinary_input" 
			  autocomplete="off"
            />

            <img src="{{ 'ICO-search.svg' | asset_url }}" alt="Поиск" />
          </form>
        </div>

        <div class="header_logo">
          <a href="/"><img src="{{ 'logo-white-gold.png' | asset_url }}" alt="Логотип" /></a>
        </div>

        
        <div class="header_account_actions">
          <!-- <img src="{{ 'ICO-map.svg' | asset_url }}" alt="Геолокация" /> -->
          <a href="/cart_items">
            <div class="cart-items" x-show="items > 0" x-text="items">{{ cart.items_count }}</div>
            <img src="{{ 'ICO-shop.svg' | asset_url }}" alt="Корзина" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="header__category">
    <div class="container">
      <div class="category_inner">
        <nav class="category_pol">
          
          {% for link in linklists.gender-menu.links %}
            <a href="{{link.url}}" class="{% if link.current? %} active	{% endif %}">{{link.title}}</a>
            {% unless forloop.last %}
              <span class="delimiter">/</span>
            {% endunless %}
          {% endfor %}

        </nav>
        <div class="category_list">
          <nav class="header__menu">
            <!-- <div class="list_item">
              <img src="{{ 'ICO-diskount.svg' | asset_url }}" alt="" /><a
                href="#"
                class="list_link"
                >Распродажа</a>
            </div> -->
              <div class="list_item">
                <a href="/collection/all" class="list_link">Каталог</a>

                {% if template contains 'product' %}	
					        {% assign catalog = collections | where: 'title', 'Каталог' | first %}
                  {% assign categories = catalog.subcollections %}
                  {% assign men = categories | where: 'title', 'Мужчинам' | first %}
                  {% assign women = categories | where: 'title', 'Женщинам' | first %}
                {% else %}  
                  {% assign catalog = collections.all %}
                  {% assign men = collections.muzhchinam %}
                  {% assign women = collections.zhenschinam %}
                {% endif %}  


                <nav class="header__categories">
                  <div class="container">
                    <nav class="categories__menu">
                      <ul class="menu__column">
                        <li class="menu__item menu__item_title">
                          <a class="menu__link" href="{{ men.url }}">{{ men.title }}</a>
                        </li>


                        {% for collection in men.subcollections %}
                          <li class="menu__item"><a class="menu__link" href="{{ collection.url }}">{{ collection.title }}</a></li>

                          {% if collection.subcollections.size > 0 %}
                          <ul class="submenu">
                            {% for collection1 in collection.subcollections %}
                              <li class="menu__item"><a href="{{ collection1.url }}" class="menu__link">{{ collection1.title }}</a></li>

                              {% if collection1.subcollections.size > 0 %}
                              <ul class="submenu">
                              {% for collection2 in collection1.subcollections %}
                                <li class="menu__item"><a href="{{ collection2.url }}" class="menu__link">{{ collection2.title }}</a></li>
                              {% endfor %}
                              </ul>
                              {% endif %}
                            {% endfor %}
                          </ul>
                          {% endif %}

                        {% endfor %}
                      </ul>
                      <ul class="menu__column">
                        <li class="menu__item menu__item_title">
                          <a class="menu__link" href="{{ women.url }}">{{ women.title }}</a>
                        </li>
                      
                        {% for collection in women.subcollections %}
                          <li class="menu__item"><a class="menu__link" href="{{ collection.url }}">{{ collection.title }}</a></li>

                          {% if collection.subcollections.size > 0 %}
                          <ul class="submenu">
                            {% for collection1 in collection.subcollections %}
                              <li class="menu__item"><a href="{{ collection1.url }}" class="menu__link">{{ collection1.title }}</a></li>

                              {% if collection1.subcollections.size > 0 %}
                              <ul class="submenu">
                              {% for collection2 in collection1.subcollections %}
                                <li class="menu__item"><a href="{{ collection2.url }}" class="menu__link">{{ collection2.title }}</a></li>
                              {% endfor %}
                              </ul>
                              {% endif %}
                            {% endfor %}
                          </ul>
                          {% endif %}

                        {% endfor %}
                      </ul>

                      <ul class="menu__column menu__column_brands">
                        <li class="menu__item menu__item_title">
                          <span class="menu__link">Бренды</span>
                        </li>
						<div class="brands_body">
							{% assign brand_list = catalog.properties | where: 'handle', 'brand' | first %}
							{% for brand in brand_list.characteristics %}
							  <li class="menu__item">
								<a class="menu__link brand-link" href="{{ catalog.url | add_param: 'characteristics[]', brand.id }}">{{ brand.name }}</a>
							  </li>
							{% endfor %}
						</div>
                      </ul>
                      
                    </nav>
                  </div>
                </nav>
              </div>
            {% for link in linklists.main-menu.links %}
              <div class="list_item">
                <a href="{{link.url}}" class="list_link">{{link.title}}</a>
              </div>
            {% endfor %}
          </nav>
          
        </div>
      </div>
    </div>
  </div>

  <div class="cover" :class="sidebar && 'active'"></div>
  <div 
    class="sidebar" 
    id="sidebar" 
    :class="sidebar && 'active'"
    x-data="{
      tab: '',

      init() {
        if (location.href.includes('page/muzh') || location.href.includes('-men')) {
          this.tab = 'men'
        } else {
          this.tab = 'women'
        }
      },
  }">
    <button class="sidebar__close" @click="sidebar = false;overflow = true">
      <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="&#209;&#129;lose">
        <rect id="Rectangle 572" x="4.11914" y="3" width="26.0216" height="2.16846" rx="1.08423" transform="rotate(45 4.11914 3)" fill="#111111"/>
        <rect id="Rectangle 573" width="26.0216" height="2.16846" rx="1.08423" transform="matrix(-0.707107 0.707107 0.707107 0.707107 21.4668 3)" fill="#111111"/>
        </g>
      </svg>
    </button>

    <div class="sidebar__switch">
      <button class="switch__button" :class="tab === 'men' && 'active'" @click="tab = 'men'">Мужчинам</button>
      <button class="switch__button" :class="tab === 'women' && 'active'" @click="tab = 'women'">Женщинам</button>
    </div>
    <nav class="sidebar__menu-wrap">
      <ul class="sidebar__menu" x-show="tab === 'men'">
        {% for collection in men.subcollections %}
          {% if collection.subcollections.size > 0 %}
          <li class="menu__item" x-data="{show: false}">
            <div class="menu__button" :class="show && 'active'" @click="show = !show">{{ collection.title }}</div>
            
            <div class="submenu" :class="show && 'active'">
              <ul class="submenu__wrap">
                {% for collection1 in collection.subcollections %}
                  <li class="menu__item"><a href="{{ collection1.url }}" class="menu__link">{{ collection1.title }}</a></li>
                {% endfor %}
                
                <li class="menu__item"><a href="{{ collection.url }}" class="menu__link menu__link_small">Все товары</a></li>
              </ul>

            </div>
          </li>
          {% else %}
            <li class="menu__item"><a class="menu__link" href="{{ collection.url }}">{{ collection.title }}</a></li>
          {% endif %}
  
        {% endfor %}

        <li class="menu__item"><a class="menu__link menu__link_small" href="{{ collections.muzhchinam.url }}">Все товары</a></li>
      </ul>

      <ul class="sidebar__menu" x-show="tab === 'women'">
        {% for collection in women.subcollections %}
          {% if collection.subcollections.size > 0 %}
          <li class="menu__item" x-data="{show: false}">
            <div class="menu__button" :class="show && 'active'" @click="show = !show">{{ collection.title }}</div>
            
            <div class="submenu" :class="show && 'active'">
              <ul class="submenu__wrap">
                {% for collection1 in collection.subcollections %}
                  <li class="menu__item"><a href="{{ collection1.url }}" class="menu__link">{{ collection1.title }}</a></li>
                {% endfor %}
                
                <li class="menu__item"><a href="{{ collection.url }}" class="menu__link menu__link_small">Все товары</a></li>
              </ul>

            </div>
          </li>
          {% else %}
            <li class="menu__item"><a class="menu__link" href="{{ collection.url }}">{{ collection.title }}</a></li>
          {% endif %}
  
        {% endfor %}

        <li class="menu__item"><a class="menu__link menu__link_small" href="{{ collections.muzhchinam.url }}">Все товары</a></li>
      </ul>
    </nav>
    <nav class="sidebar__personal-menu">
      <ul class="personal-menu">
        <li class="menu__item"><a href="/favorites" class="menu__link">Избранное</a></li>
        {% if client %}
          <li class="menu__item"><a href="/client_account/orders" class="menu__link">Личный кабинет</a></li>
        {% else %}
          <li class="menu__item"><a href="/client_account/login" class="menu__link">Личный кабинет</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

</header>

<!-- <script>
  let gender = localStorage.getItem('gender')

  if (gender) {
    let links = header.querySelectorAll('.brand-link')
    links.forEach(link => {
      let url = new URL(link.href)

      let pathname = gender === 'men' 
        ? '/collection/muzhchinam'
        : '/collection/zhenschinam'

      url.pathname = pathname

      link.href = url.toString()
    })
  }

</script> -->
