<div class="pagination">
  <ul class="pagination_list">
    {% for part in paginate.parts %}
      {% if part.is_link %}
        <li class="">
          <a href="{{ part.url }}"
              class="list_link"
          >
            {{ part.title }}
          </a>
        </li>
      {% else %}
        <li class="">
          {% if part.title == paginate['current_page'] %}
            <span class="active">
              {{ part.title }}
            </span>
          {% else %}
            <span class="pagination-node--block">
              {{ part.title }}
            </span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="pagination__buttons">
	{% if paginate.previous.url %}
		<a href="{{ paginate.previous.url }}" class="btn btn-secondary">
			<img src="{{ 'ICO-arrow-prev.svg' | asset_url }}" alt="prev">
			Назад
		</a>
	{% endif %}
	{% if paginate.next.url %}
		<a href="{{ paginate.next.url }}" class="btn btn-secondary">
			Вперед
			<img src="{{ 'ICO-arrow-next.svg' | asset_url }}" alt="next">
		</a>
	{% endif %}
  </div>
  <!-- <span class="pagination_count">{{ collection_size }} из {{ paginate.items }}</span> -->
</div>
