<!-- {% for block in block_lists.apps-banner.blocks %}
  {{block.title}} <br>
{% endfor %} -->

{{block_lists.with_template['system-banner-2'].prilozhenie-pull}}
<!-- section-banner-app -->
<section class="section-banner-app">
  <div class="container">
    <div class="bg-img">
      <img src="{{ 'app-bg.png' | asset_url }}" alt="" class="mobile_none" />
      <img src="{{ 'Bg-mob.png' | asset_url }}" alt="" class="mobile_yes" />
    </div>
    <div class="app_inner">
      <div class="apps_block">
        <div class="block_title">Приложение «PULL»</div>
        <div class="apps">
          {% for brand in block_lists.apps-banner.blocks %}
            <a href="{{ brand.link }}"><img src="{{ brand.image }}" alt="{{ brand.title }}" /></a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>