<style>
  .video__wrap {
    position: relative;
  }

  .video__wrap .banner {
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video__wrap .banner .banner__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 642px;
    padding: 0 15px;
    color: #fff;
  }

  .video__wrap .banner .banner__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 14px;
  }
  .video__wrap .banner .banner__title span {
    position: relative;
    display: inline-block;
  }
  .video__wrap .banner .banner__title span::before {
    content: '';
    position: absolute;
    right: calc(100% + 14px);
    top: 41%;
    width: 86px;
    border: 1px solid #fff;
  }
  .video__wrap .banner .banner__title span::after {
    content: '';
    position: absolute;
    left: calc(100% + 14px);
    top: 41%;
    width: 86px;
    border: 1px solid #fff;
  }
  .video__wrap .banner .banner__text {
    margin-bottom: 32px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    line-height: 150%;
  }
  .video__wrap .banner .banner__button {
    position: relative;
    color: #fff;
    border: 2px solid #767676;
    background-color: transparent;
    z-index: 1;
    background-color: #111;
  }

  .video {
    margin-top: -86px;
    width: 100%;
    height: calc(100vh - 117px);
    object-fit: cover;
    background-color: #111;
  } 
  .running_line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    gap: 36px;
    align-items: center;
    background-color: #111;
  }

  .running_line .swiper-wrapper{
    -webkit-transition-timing-function:linear!important;    
    transition-timing-function:linear!important; 
    position: relative;
  }
  .running_line .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    overflow: hidden;
    padding: 0 36px;
  }

  .brand-logo {
    height: 16px;
    width: auto;
  }

  .image {
    display: none;
  }

  @media (max-width: 1309px) {
    .video, .image-wrap {
      height: calc(100svh - 75px);
      margin-top: -68px;
    }
	}

  @media (max-width: 999px) {
    .video {
      display: none;
    }

    .image-wrap {
      display: flex;
      justify-content: center;
      align-items: end;
      background-color: #111;
    }

    .image-wrap .image {
      display: block;
      height: 100%;
      width: auto;
    }
	}

  @media (max-width: 574px) {
    .video__wrap .banner .banner__text {
      font-size: 20px;
    }
	}
</style>

<div class="video__wrap">
  <video 
    class="video" 
    preload="none"
    muted
    autoplay
	  loop
  >
    {% if page.url contains 'page/muzh' %}
      <source src="{{ 'men.mp4' | file_url }}" type="video/mp4">
    {% elsif page.url contains 'page/zhen' %}
      <source src="{{ '01.mp4' | file_url }}" type="video/mp4">
    {% endif %}
  </video>

  <div class="image-wrap">
    {% if page.url contains 'page/muzh' %}
      <img class="image" src="{{ 'frame-men.jpg' | asset_url }}" alt="man">
    {% elsif page.url contains 'page/zhen' %}
      <img class="image" src="{{ 'frame-woman1.jpg' | asset_url }}" alt="woman">
    {% endif %}
  </div>

  <div class="banner">
    <div class="banner__body">
      <div class="banner__title"><span>Outlet</span></div>
      <div class="banner__text">Скидки до 50% на коллекции мировых брендов</div>
      {% if page.url contains 'page/muzh' %}
        <a href="/collection/muzhchinam" tabindex="-1" class="btn banner__button">Перейти в каталог</a>
      {% elsif page.url contains 'page/zhen' %}
        <a href="/collection/zhenschinam" tabindex="-1" class="btn banner__button">Перейти в каталог</a>
      {% endif %}
    </div>
  </div>

  <div class="running_line swiper">
    <div class="swiper-wrapper">
      {% assign brands = block_lists.with_template['system-banner-3'].brands-runline.blocks %}

      {% if page.url contains 'page/zhen' %}	
        {% assign collection = collections.zhenschinam %}
      {% elsif page.url contains 'page/muzh' %} 
        {% assign collection = collections.muzhchinam %}
      {% else %} 
        {% assign collection = collections.all %}
      {% endif %} 

      {% assign brand_property = collection.properties | where: 'handle', 'brand' | first %}
      
      {% for brand in brands %}
        {% assign brand_char = brand_property.characteristics | where: 'handle', brand.link | first %}

        <div class="swiper-slide">
          <a href="{{ collection.url | add_param: 'characteristics[]', brand_char.id }}">
          <img class="brand-logo" src="{{ brand.image }}" alt="{{ brand.title }}"/>
          </a>
        </div>
        {% if brand_char.id %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const runningLine = new Swiper(".running_line", {
      spaceBetween: 0,
      centeredSlides: true,
      speed: 3000,
      autoplay: {
        delay: 0,
        disableOnInteraction: false,
      },
      loop: true,
      loopedSlides: 4,
      slidesPerView:'auto',
      allowTouchMove: true,
    });

	setTimeout(() => {
		console.log('runningLine', runningLine.autoplay.running);
		runningLine.autoplay.resume()
	}, 300);
  })
</script>

