{% assign collection_size = settings.collection_count | default: "24" %}
<!-- {% assign filter_active = false %}
{% assign display_filter = false %}
 -->

<section class="section-catalog">
  <div class="container">
    
    {% paginate products by collection_size %}
      <div class="section_header">
        <div class="section_title">
          {{collection.title}}
        </div>
        <div class="catalog_buttons">
          <a href="#" class="sort">
            <img src="{{ 'icon-park-outline_switch.svg' | asset_url }}" alt="" />
            Сортировать</a
          >
          <a href="#" class="filter_toggle">
            <img src="{{ 'bi_filter.svg' | asset_url }}" alt="" /> фильтр</a
          >
        </div>
      </div>
      <div class="catalog_inner">
        {% for product in collection.products %}
          {% assign priceDivision = product.price | divided_by: product.old_price | times : 100 %}
          {% assign saleNumber = priceDivision | minus: 100 %}
          {% assign salePercent = saleNumber | round: 1 %}
          <div class="product_slide_card">
            <div class="product_card_img">
              <a href="{{product.url}}">
                <img src="{{product.first_image.large_url}}" alt="" />
              </a>
              <div class="labels">
                {% if product.old_price != 0 %}
                <div class="labe_discount">%{{ salePercent }}</div>
                {% endif %}
                <div class="labe_premium">-Premium</div>
              </div>
              <div class="product_save_btn">
                <a href="#" class="img">
                  <img src="{{ 'ICO-heart.svg' | asset_url }}" alt=""/>
                </a>
              </div>
            </div>
            <div class="product_card_itext">
              <a href="{{product.url}}" class="product_card_name">{{product.title}}</a>
              <div class="product_card_prices">
                <div class="product_card_price">{{ product.price | money }}</div>
                {% if product.old_price != 0 %}
                  <div class="product_card_old_price">{{ product.old_price | money }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="section-banner">
        <div class="banner_inner">
          <div class="banner_brend">
            MANGO
            <span>man</span>
          </div>
          <div class="banner_info">
            распродажа <br />
            скидки до 70%
          </div>
        </div>
      </div>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}

    {% endpaginate %}
  </div>
</section>
