<section class="section-product-view">
  <div class="container">
    <div class="product_inner">
      <div class="product_info" 
        id="product_info"
        @variant-change="changeVariant"
        x-data="{
          variant: null,
          swiperMin: null,
          swiperBig: null,
		  
          init() {
            this.swiperMin = new Swiper('.product_view_swiper_th', {
              spaceBetween: 10,
              slidesPerView: 4,
              freeMode: true,
              watchSlidesProgress: true,
              direction: 'vertical',
              autoHeight: true,

              spaceBetween: 22,
            });
            this.swiperBig = new Swiper('.product_view_swiper', {
              spaceBetween: 10,

              thumbs: {
                swiper: this.swiperMin,
              },
              breakpoints: {
                320: {
                  pagination: {
                  el: '.swiper-pagination',
                  clickable: true,
                  },
                },
                1241: {
                  pagination: false,
                },
              },
            });
          },
          changeVariant() {
            this.variant = this.$event.detail
            this.changeImage()
          },
          changeImage() {
            let slide = this.$refs.swiperContainer.querySelector(`[data-id='${this.variant.first_image.id}']`)
            if (_.isNil(slide) || _.isEmpty(slide)) return;

            let slideNumber = slide.getAttribute('aria-label').match(/\d+/)[0]

            this.swiperBig.slideTo(slideNumber - 1)
          },
          addToCart() {
            let items = {}
            items[this.variant?.id] = 1

            ajaxAPI.cart.add(items, {})
              .done(onDone => { this.$dispatch('cart-changed', onDone.items_count) })
              .fail(onFail => { alert('Ошибка добавления товара в корзину') });
          },
        }"
      >
        <div class="carousel">
          {% if product.images.size > 0 %}
            <div thumbsSlider="" class="swiper product_view_swiper_th">
              <div class="swiper-wrapper">
                {% for image in product.images %}
                  <div class="swiper-slide" data-id="{{ image.id }}">
                    <img src="{{ image.thumb_url | image_url: 100, format: 'webp' }}" alt="{{ image.title }}" />
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if product.images.size > 0 %}
            <div class="swiper product_view_swiper">
              <div class="swiper-wrapper" x-ref="swiperContainer">
                {% for image in product.images %}
                  <div class="swiper-slide" data-id="{{ image.id }}">
                    <img src="{{ image.original_url | image_url: 954, format: 'webp' }}" alt="{{ image.title }}" />
                  </div>
                {% endfor %}
                
              </div>
              <div class="swiper-pagination"></div>
              {% if product.rating %}
                <div class="rating">
                  {{ product.rating }}
                  <span>/</span>
                  5
                  <img src="{{ 'Star_1.svg' | asset_url }}" alt="Иконка звездочки" />
                </div>
              {% endif %}
            </div>
          {% else %}
            <div class="swiper product_view_swiper">
              <div class="swiper-wrapper" x-ref="swiperContainer">
                <div class="swiper-slide" data-id="{{ image.id }}">
                  <img src="{{ product.first_image.original_url | image_url: 954, format: 'webp' }}" alt="{{ image.title }}" />
                </div>
              </div>
              <div class="swiper-pagination"></div>
              {% if product.rating %}
                <div class="rating">
                  {{ product.rating }}
                  <span>/</span>
                  5
                  <img src="{{ 'Star_1.svg' | asset_url }}" alt="Иконка звездочки" />
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>

        <div class="product_info_char">
          <div class="product_name">{{product.title}}</div>
          <div class="product_price">
            <span x-text="formatNumber(variant?.price ?? 0) + ' ₽'">{{ product.price | money }} </span>
            <div class="product_old_price" x-text="formatNumber(variant?.old_price ?? 0) + ' ₽'">{{ product.old_price | money }}</div>
          </div>
          <div class="product_details">

            <form action="{{ cart_url }}" method="post" data-product-id="{{ product.id }}">
              {% if product.show_variants? %}
                <div class="product-variants">
                  <select name="variant_id" id="variant-select" class="select_ordinary" data-product-variants>
                    {% for variant in product.variants %}
                      <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% else %}
                <input type="hidden" name="variant_id" value="{{ product.variants.first.id }}" />
              {% endif %}

              <div class="product_quantity">
                <div class="product_quantity__title">Наличие на складе:</div>
                <div class="product_quantity__body">
                  <div class="quantity">Москва: <span x-text="formatNumber(variant?.quantity_at_warehouse0) + ' шт.'"></span></div>
                  <div class="quantity">Казань: <span x-text="formatNumber(variant?.quantity_at_warehouse1) + ' шт.'"></span></div>
                </div>
              </div>

              <div class="data">
                  <button type="button" class="add_to_card button_black" @click="addToCart">Добавить в корзину</button>
              </div>
            </form>

            <button class="save_btn" data-ui-favorites-trigger="{{ product.id }}">
              <span data-ui-favorites-trigger-added-text="В избранном"
                data-ui-favorites-trigger-not-added-text="Добавить в избранное"
              ></span>
              <!-- <img src="{{ 'ICO-heart.svg' | asset_url }}" alt="" /> -->
              <img class="icon_delete" src="{{ 'ICO-heart-filled.svg' | asset_url }}" alt="Добавить в избранное"/>
              <img class="icon_add" src="{{ 'ICO-heart.svg' | asset_url }}" alt="Удалить из избранного"/>
            </button>
            <div class="deleviry_info">
              <div class="info_item">
                <div class="info_img">
                  <img
                    src="{{ 'iconamoon_delivery-fast-thin.svg' | asset_url }}"
                    alt="" />
                </div>
                <div>
                  B пункты <span>выдачи заказов</span> с примеркой,
                  бесплатно при покупке <br />
                  от 3 500 ₽
                </div>
              </div>
              <div class="info_item">
                <div class="info_img">
                  <img
                    src="{{ 'iconamoon_delivery-fast-thin.svg' | asset_url }}"
                    alt="" />
                </div>
                <div>
                  По адресу, <span>курьером</span> — с примеркой,
                  бесплатно при покупке <br />от 4 500 ₽
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product_tab">
        <div class="tab_header">
          <button class="tab_header_item active" data-tab="info_tab"
            >О товаре
          </button>
          <button class="tab_header_item" data-tab="review_tab"
            >Отзывы ({{product.reviews_count}})
          </button>
          <button class="tab_header_item" data-tab="questions_tab"
            >Вопросы (0)
          </button>
        </div>
        <div class="tab_body">
          <div class="tab_body_item info_tab active">
            <div class="description">
              <p>
                {{product.description}}
              </p>
            </div>
            <dl class="info_tab_list">

              {% for property in product.properties %}

                  <div class="list_item">
                    <dt class="item_label">{{property.name}}</dt>
                     
                    <dd class="item_info">
                      {% for item in property.characteristics %}
                        {% if forloop.last %}
                          {{item.name}}
                        {% else %}
                          {{item.name}},
                        {% endif %}
                      {% endfor %}
                    </dd>
                  </div>

              {% endfor %}
              
            </dl>
          </div>
          <div class="tab_body_item review_tab nem">
            {% if account.reviews_enabled? %}
              
              
              {% if product.reviews == empty %}
                
                <div class="tab_item_innner">
                  <div class="tab_item_title">Нет отзывов</div>
                  <div class="subtitle">
                    На данный товар пока никто не оставил свой отзыв.
                  </div>
                  <a href="#" class="btn">Оставить отзыв</a>
                </div>

              {% else %}

                <div class="not_empty">
                  <div class="review_header">
                    <div class="review_rating">
                      4.5
                      <img src="{{ 'star.svg' | asset_url }}" alt="" />
                      <div class="rating_text">Суммарная оценка</div>
                    </div>
                    <div class="review_header_slider_wr">
                      <div class="swiper review_header_slider">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                          <!-- Slides -->
                          <div class="swiper-slide">
                            <a href="#" class="moree_review"
                              ><img
                                src="{{ 'product-thumb.png' | asset_url }}"
                                alt="" /><span>Подробнее</span></a
                            >
                          </div>
                          <div class="swiper-slide">
                            <a href="#" class="moree_review"
                              ><img
                                src="{{ 'product-thumb.png' | asset_url }}"
                                alt="" /><span>Подробнее</span></a
                            >
                          </div>
                        </div>
                      </div>
                      <!-- If we need navigation buttons -->
                      <!-- <div class="swiper-button-next">
                        <img src="{{ 'ICO-next.svg' | asset_url }}" alt="Next" />
                      </div>
                      <div class="swiper-button-prev">
                        <img src="{{ 'ICO-back.svg' | asset_url }}" alt="previous" />
                      </div> -->
                    </div>
                  </div>
                  {% for review in product.reviews %}
                    <div class="comment_item">
                      <div class="comment_name">Андрей Н.</div>
                      <div class="comment_text">
                        There are many variations of passages of Lorem Ipsum
                        available, but the majority have suffered alteration
                        in some form, by injected humour
                      </div>
                      <div class="comment_rating">
                        <img src="{{ 'star__1.svg' | asset_url }}" alt="" />
                      </div>
                      <div class="comment_info">Отличный товар</div>
                    </div>
                  {% endfor %}
                </div>

              {% endif %}
            {% endif %}
          </div>
          <div class="tab_body_item questions_tab em">
            <div class="tab_item_innner empty">
              <div class="tab_item_title">Нет вопросов</div>
              <div class="subtitle">
                Пока никто не задавал уточняющих вопросов
              </div>
              <a href="#" class="btn">Задать вопрос</a>
            </div>
            <div class="not_empty">
              <div class="comment_item">
                <div class="comment_name">Андрей Н.</div>
                <div class="comment_text">
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration
                  in some form, by injected humour
                </div>
                <div class="accordion_content">
                  <div class="comment_info answer_title">Ответ</div>
                  <div class="comment_text">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration
                    in some form, by injected humour
                  </div>
                </div>
                <a href="#" class="comment_info accordion_link"
                  >Показать ответ
                  <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
                /></a>
              </div>
              <div class="comment_item">
                <div class="comment_name">Андрей Н.</div>
                <div class="comment_text">
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration
                  in some form, by injected humour
                </div>
                <div class="accordion_content">
                  <div class="comment_info answer_title">Ответ</div>
                  <div class="comment_text">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration
                    in some form, by injected humour
                  </div>
                </div>
                <a href="#" class="comment_info accordion_link"
                  >Показать ответ
                  <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
                /></a>
              </div>
              <div class="comment_item">
                <div class="comment_name">Андрей Н.</div>
                <div class="comment_text">
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration
                  in some form, by injected humour
                </div>
                <div class="accordion_content">
                  <div class="comment_info answer_title">Ответ</div>
                  <div class="comment_text">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration
                    in some form, by injected humour
                  </div>
                </div>
                <a href="#" class="comment_info accordion_link"
                  >Показать ответ
                  <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
                /></a>
              </div>
              <div class="comment_item">
                <div class="comment_name">Андрей Н.</div>
                <div class="comment_text">
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration
                  in some form, by injected humour
                </div>
                <div class="accordion_content">
                  <div class="comment_info answer_title">Ответ</div>
                  <div class="comment_text">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration
                    in some form, by injected humour
                  </div>
                </div>
                <a href="#" class="comment_info accordion_link"
                  >Показать ответ
                  <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>

        
      </div>

      <div class="product_accordion">
        <div class="accordion_item" :class="open && 'active'" x-data="{open: false}">
          <button class="accordion_link" @click="open = !open">
            О товаре <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt="">
          </button>
          <div class="accordion_content">
            <div class="accordion_content__wrap">
              <div class="description">
                {{product.description}}
              </div>
  
              <dl class="info_tab_list">
  
                {% for property in product.properties %}
                
                  <div class="list_item">
                    <dt class="item_label">{{property.name}}</dt>
                    <dd class="item_info">
                      {% for item in property.characteristics %}
                          {% if forloop.last %}
                            {{item.name}}
                          {% else %}
                            {{item.name}},
                          {% endif %}
                        {% endfor %}
                    </dd>
                  </div>
  
                {% endfor %}
  
              </dl>
            </div>
          </div>

          <div class="accordion_footer">
            <div class="accordion_footer__wrap">
              <button class="accordion_link_hide" @click="open = false">
                <span>Скрыть</span> <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="accordion_item">
          <a href="" class="accordion_link ">
            Отзывы ({{product.reviews_count}}) <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt="">
          </a>
          <div class="accordion_content">
            <div class="review_header">

              <div class="review_rating">
                {{ product.rating }}
                <div>
                  <img src="{{ 'star.svg' |asset_url }}" alt="" />
                  <a href="#" class="rating_text">Написать отзыв</a> 
                </div>
              </div>

              <div class="review_header_slider_wr">
                <div class="swiper review_header_slider">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <a href="#" class="moree_review"
                        ><img
                          src="{{ 'product-thumb.png' | asset_url }}"
                          alt="" /><span>Подробнее</span></a
                      >
                    </div>
                  </div>
                </div>
                <!-- If we need navigation buttons -->
                <!-- <div class="swiper-button-next">
                  <img src="{{ 'ICO-next.svg' | asset_url }}" alt="" />
                </div>
                <div class="swiper-button-prev">
                  <img src="{{ 'ICO-back.svg' | asset_url }}" alt="" />
                </div> -->
              </div>
            </div>
            {% if product.reviews_count > 0 %}
              {% for review in product.reviews %}

                <div class="comment_item">
                  <div class="comment_name">{{ review.author }}</div>
                  <div class="comment_text">
                    {{ review.content | newline_to_br }}
                  </div>
                  <div class="comment_rating">
                    <img src="{{ 'star.svg' | asset_url }}" alt="" />
                  </div>
                  <div class="comment_info">{{ review.rating }}</div>
                </div>

              {% endfor %}
            {% endif %}

          </div>

          <div class="accardion_footer p-0">
            <a href="#" class="more_link">Больше отзывов</a>
            <a href="#" class="accordion_link_hide ">
              <span>Скрыть</span> <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt="">
            </a>
            
          </div>
          
        </div>
        <div class="accordion_item">
          <a href="" class="accordion_link ">
            Вопросы (12) <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt="">
          </a>
          <div class="accordion_content">
            <div class="comment_item">
              <div class="comment_name">Андрей Н.</div>
              <div class="comment_text">
                There are many variations of passages of Lorem Ipsum
                available, but the majority have suffered alteration
                in some form, by injected humour
              </div>
              <div class="accordion_content">
                <div class="comment_info answer_title">Ответ</div>
                <div class="comment_text">
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration
                  in some form, by injected humour
                </div>
              </div>
              <a href="#" class="comment_info accordion_link"
                >Показать ответ
                <img src="{{ 'ICO-arrow-down.svg' | asset_url }}" alt=""
              /></a>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    {% assign collections = product.collections | sort: 'level' %}
    {% assign collection = collections | last %}
    {% assign gender_collection = collections | where: 'handle', 'muzhchinam' | first %}

    {% unless gender_collection %}
      {% assign gender_collection = collections | where: 'handle', 'zhenschinam' | first %}
    {% endunless %}

    {% assign brand_property = product.properties | where: 'handle', 'brand' | first %}

    <div class="same_links">
      {% if brand_property %}
        {% assign brand = brand_property.characteristics | first %}
		    {% assign brand_block = block_lists.with_template['system-banner-3'].brands-men.blocks | where: 'link', brand.handle | first %}

        <a href="{{ collection.url | add_param: 'characteristics[]', brand.id }}" class="same_link">
          <div class="same_link_img">
            <img src="{{ collection.image.thumb_url }}" alt="{{ collection.title }}" />
          </div>
          <div class="same_link_text">
            <div class="same_link_name">
              Вся категория {{ collection.title | downcase }} бренда «{{ brand.title }}»
            </div>
            <div class="same_link_subname">Бренд и категория</div>
          </div>
        </a>
        <a href="{{ gender_collection.url | add_param: 'characteristics[]', brand.id }}" class="same_link">
          <div class="same_link_img">
            <img src="{{ brand_block.image }}" alt="{{ brand.title }}" />

          </div>
          <div class="same_link_text">
            <div class="same_link_name">Вся продукция «{{ brand.title }}»</div>
            <div class="same_link_subname">Бренд</div>
          </div>
        </a>
      {% endif %}

      <a href="{{ collection.url }}" class="same_link">
        <div class="same_link_img">
          <img src="{{ collection.image.thumb_url }}" alt="{{ collection.title }}" />
        </div>
        <div class="same_link_text">
          <div class="same_link_name">Вся категория {{ collection.title | downcase }}</div>
          <div class="same_link_subname">Категория</div>
        </div>
      </a>
    </div>
  </div>
</section>

{% if product.related_products.size > 0 %}

<!-- section-products-carousel-->
<section class="section-products-carousel">
  <div class="container">
    <div class="products_header section_header">
      <div class="section_title">С этим товаром покупают</div>
      <div class="slider_buttons">
        <div class="swiper-button-next">
          <img src="{{ 'ICO-next.svg' | asset_url }}" alt="" />
        </div>
        <div class="swiper-button-prev">
          <img src="{{ 'ICO-back.svg' | asset_url }}" alt="" />
        </div>
      </div>
    </div>
    <!-- Slider main container -->
    <div
      class="swiper products_swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
      <!-- Additional required wrapper -->
      <div
        class="swiper-wrapper"
        id="swiper-wrapper-cb1071e566d10864ee"
        aria-live="polite">
        <!-- Slides -->

        
        {% for product in product.related_products  %}
          <div class="swiper-slide">
            {% if product.old_price > 0 %}
              {% assign priceDivision = product.price | divided_by: product.old_price | times : 100 %}
              {% assign saleNumber = priceDivision | minus: 100 %}
              {% assign salePercent = saleNumber | round: 0 %}
            {% endif %}
            <div class="product_slide_card">
              <div class="product_card_img">
                <a class="card_img__link" href="{{product.url}}">
                  <img class="card_img__image" src="{{product.first_image.large_url | image_url: 459, format: 'webp'}}" alt="{{product.title}}" />
                </a>
                <div class="labels">
                  {% if product.old_price > 0 %}
                    <div class="labe_discount">{{ salePercent }}%</div>
                  {% endif %}
                  <!-- <div class="labe_premium">Premium</div> -->
                </div>
                <button class="product_save_btn" data-ui-favorites-trigger="{{ product.id }}">
                <img class="icon_delete" src="{{ 'ICO-heart-filled.svg' | asset_url }}" alt="Добавить в избранное"/>
                <img class="icon_add" src="{{ 'ICO-heart.svg' | asset_url }}" alt="Удалить из избранного"/>
                </button>
              </div>
              <div class="product_card_itext">
                <a href="{{product.url}}" class="product_card_name">{{product.title}}</a>
                <div class="product_card_prices">
                  <div class="product_card_price">{{ product.price | money }}</div>
                  {% if product.old_price > 0 %}
                    <div class="product_card_old_price">{{ product.old_price | money }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        

      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <span
        class="swiper-notification"
        aria-live="assertive"
        aria-atomic="true"></span>
    </div>
  </div>
</section>

{% endif %}

{% if product.similar_products.size > 0 %}

<!-- section-products-carousel-->
<section class="section-sim-products-carousel">
  <div class="container">
    <div class="products_header section_header">
      <div class="section_title">Похожие</div>
      <div class="slider_buttons">
        <div class="swiper-button-next">
          <img src="{{ 'ICO-next.svg' | asset_url }}" alt="" />
        </div>
        <div class="swiper-button-prev">
          <img src="{{ 'ICO-back.svg' | asset_url }}" alt="" />
        </div>
      </div>
    </div>
    <!-- Slider main container -->
    <div
      class="swiper similar_swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
      <!-- Additional required wrapper -->
      <div
        class="swiper-wrapper"
        id="swiper-wrapper-cb1071e566d10864ee"
        aria-live="polite">
        <!-- Slides -->

        
        {% for product in product.similar_products %}
          {% if product.old_price > 0 %}
            {% assign priceDivision = product.price | divided_by: product.old_price | times : 100 %}
            {% assign saleNumber = priceDivision | minus: 100 %}
            {% assign salePercent = saleNumber | round: 0 %}
          {% endif %}
          <div class="swiper-slide">
            <div class="product_slide_card">
              <div class="product_card_img">
                <a class="card_img__link" href="{{product.url}}">
                  <img class="card_img__image" src="{{product.first_image.large_url | image_url: 459, format: 'webp'}}" alt="{{product.title}}" />
                </a>
                <div class="labels">
                  {% if product.old_price > 0 %}
                    <div class="labe_discount">{{ salePercent }}%</div>
                  {% endif %}
                  <!-- <div class="labe_premium">Premium</div> -->
                </div>
                <button class="product_save_btn" data-ui-favorites-trigger="{{ product.id }}">
                <img class="icon_delete" src="{{ 'ICO-heart-filled.svg' | asset_url }}" alt="Добавить в избранное"/>
                <img class="icon_add" src="{{ 'ICO-heart.svg' | asset_url }}" alt="Удалить из избранного"/>
                </button>
              </div>
              <div class="product_card_itext">
                <a href="{{product.url}}" class="product_card_name">{{product.title}}</a>
                <div class="product_card_prices">
                  <div class="product_card_price">{{ product.price | money }}</div>
                  {% if product.old_price > 0 %}
                    <div class="product_card_old_price">{{ product.old_price | money }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        

      </div>

      <span
        class="swiper-notification"
        aria-live="assertive"
        aria-atomic="true"></span>
    </div>
  </div>
</section>

{% endif %}
<!-- 
<section class="section-products-recent">
  <div class="container">
    <div class="products_header section_header">
      <div class="section_title">Недавно смотрели</div>
    </div>
    
    <div class="product_slide_card">
      <a href="#" class="product_card_img">
        <img src="media/product-card.png" alt="" />

        <div class="labels">
          <div class="labe_discount">-24%</div>
          <div class="labe_premium">-Premium</div>
        </div>
        <div class="product_save_btn">
          <a href="" class="img"
            ><img src="media/ICO-heart.svg" alt=""
          /></a>
        </div>
      </a>
      <div class="product_card_itext">
        <a href="#" class="product_card_name"
          >Спортивный костюм “BOSS”</a
        >
        <div class="product_card_prices">
          <div class="product_card_price">2 931,65 ₽</div>
          <div class="product_card_old_price">2 931,65 ₽</div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<script>
  EventBus.subscribe('update_variant:insales:product', variant => {
    console.log(variant);
    product_info.dispatchEvent(new CustomEvent('variant-change', {
      detail: variant
    }));
  })

</script>
